.task,
.mainContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.task {
  cursor: grab;
  position: relative;
  gap: var(--size-24);
  width: var(--size-376);
  padding: var(--size-12) var(--size-20);
  background-color: rgb(var(--color-black));
  border: var(--border-normal);
  border-radius: var(--radius-12);
  transition: box-shadow var(--transition-def);

  @media (max-width: 884px) {
    width: var(--size-320);
  }

  @media (max-width: 488px) {
    width: var(--size-280);
  }
}

.task:hover {
  box-shadow: var(--shadow-task);
}

.finishButton {
  position: absolute;
  top: calc(var(--size-8) * -1);
  left: calc(var(--size-8) * -1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-24);
  color: rgb(var(--color-title) / 0.5);
  z-index: var(--zindex-medium);
  transition: color var(--transition-def);

  @media (max-width: 488px) {
    font-size: var(--size-20);
  }
}

.finishButton:hover {
  color: rgb(var(--color-title));
}

.mainContainer {
  width: 100%;
  gap: var(--size-4);
  color: rgb(var(--color-white));
}

.title {
  width: 100%;
  font: var(--font-body-large_bold);

  @media (max-width: 488px) {
    font: var(--font-body-medium_bold);
  }
}

.description {
  width: 100%;
  font: var(--font-body-xsmall_regular);
  opacity: 0.5;
}

.title,
.description {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.caption {
  font: var(--font-body-small_regular);
  color: rgb(var(--color-title));

  @media (max-width: 488px) {
    font: var(--font-body-xsmall_regular);
  }
}

.functionsContainer {
  position: absolute;
  bottom: var(--size-8);
  right: var(--size-8);
  display: flex;
  align-items: center;
  gap: var(--size-8);
  color: rgb(var(--color-white));
}

.function {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-24);
  color: rgb(var(--color-white));
  transition: color var(--transition-def);

  @media (max-width: 488px) {
    font-size: var(--size-16);
  }
}

.edit:hover {
  color: rgb(var(--color-green));
}

.delete:hover {
  color: rgb(var(--color-red));
}

.priority {
  position: absolute;
  top: var(--size-8);
  right: var(--size-8);
  width: var(--size-12);
  aspect-ratio: 1;
  background-color: rgb(var(--color-green));
  border-radius: var(--radius-circular);
}
