.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);
  min-width: var(--size-140);
  padding: var(--size-12);
  color: rgb(var(--color-white));
  border-radius: var(--radius-12);
  transition: background-color var(--transition-def),
    box-shadow var(--transition-def);
}

.delete {
  background-color: rgb(var(--color-red) / 0.5);
}

.delete:hover {
  background-color: rgb(var(--color-red));
}

.save {
  background-color: rgb(var(--color-green) / 0.5);
}

.save:hover {
  background-color: rgb(var(--color-green));
}

.default {
  background-color: rgb(var(--color-primary) / 0.5);
}

.default:hover {
  background-color: rgb(var(--color-primary));
  box-shadow: var(--shadow-btn);
}

.label {
  font: var(--font-body-medium_bold);
}
