.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);
  min-width: var(--size-140);
  padding: var(--size-12);
  color: rgb(var(--color-white));
  transition: background-color var(--transition-def),
    box-shadow var(--transition-def);
}

.button:hover {
}

.label {
  font: var(--font-body-medium_bold);
}
