.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-20);
}

.timerContainer {
  position: relative;
}

.timerDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-4);
}

.timerLabel {
  font: var(--font-body-large_regular);
  color: rgb(var(--color-white));
}

.timerTime {
  font: var(--font-title-ttl_h1);
  color: rgb(var(--color-title));
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-60);
  aspect-ratio: 1 / 1;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-primary) / 0.5);
  border-radius: var(--radius-12);
  transition: background-color var(--transition-def);
}

.button:hover {
  background-color: rgb(var(--color-primary));
}
