.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-60);
}

.mainTitle {
  font: var(--font-title-ttl_h1);
  color: rgb(var(--color-title));

  @media (max-width: 488px) {
    font: var(--font-title-ttl_h2);
  }
}

.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-80);
}

.mainStats {
  max-width: 83vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-20);

  @media (max-width: 884px) {
    max-width: 90vw;
  }

  @media (max-width: 488px) {
    flex-direction: column;
  }
}

.countingStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-12);
  width: var(--size-320);
  padding: var(--size-40) 0;
  border: var(--border-normal);
  border-radius: var(--size-20);
}

.countingTitle {
  font: var(--font-body-large_bold);
  color: rgb(var(--color-white));
}

.numberContainer {
  position: relative;
}

.number {
  font: var(--font-title-ttl_h2);
  color: rgb(var(--color-white));

  @media (max-width: 488px) {
    font: var(--font-title-ttl_h3);
  }
}

.increment {
  position: absolute;
  top: 0;
  left: calc(100% + var(--size-4));

  font: var(--font-body-small_regular);
  color: rgb(var(--color-green));
  text-wrap: nowrap;

  @media (max-width: 488px) {
    font: var(--font-body-xsmall_regular);
  }
}

.streakContainer {
  display: flex;
  align-items: center;
  gap: var(--size-80);

  @media (max-width: 884px) {
    flex-direction: column;
  }
}

.streakStats {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-40);

  @media (max-width: 884px) {
    align-items: center;
  }
}

.streakSequence {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-12);

  @media (max-width: 884px) {
    align-items: center;
  }
}

.streakTitle {
  font: var(--font-title-ttl_h3);
  color: rgb(var(--color-title));

  @media (max-width: 488px) {
    font: var(--font-body-xlarge_bold);
  }
}

.streakNumberContainer {
  display: flex;
  align-items: center;
  gap: var(--size-8);
}

.streakNumberIcon {
  font-size: var(--size-40);
  color: rgb(var(--color-red));

  @media (max-width: 488px) {
    font-size: var(--size-32);
  }
}

.streakNumber {
  font: var(--font-title-ttl_h2);
  color: rgb(var(--color-white));

  @media (max-width: 488px) {
    font: var(--font-title-ttl_h3);
  }
}

.streakWeek {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.streakWeekDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
}

.streakWeekDayText {
  font: var(--font-body-xlarge_bold);
  color: rgb(var(--color-white));
}

.streakWeekDayIcon {
  font-size: var(--size-56);
  color: rgb(var(--color-green));
}

.periodStatsContainer {
  display: flex;
  align-items: start;
  gap: var(--size-80);

  @media (max-width: 884px) {
    flex-direction: column;
    align-items: center;
  }
}

.periodStatsChartContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-12);
  max-height: 31.25rem;
  width: 33.25rem;

  @media (max-width: 488px) {
    align-items: center;
    width: var(--size-320);
    max-height: 18.75rem;
  }
}

.periodStatsChartLabel {
  font: var(--font-title-ttl_h3);
  color: rgb(var(--color-title));

  @media (max-width: 488px) {
    font: var(--font-body-xlarge_bold);
  }
}

.periodProductionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-32);

  @media (max-width: 884px) {
    width: 90vw;
    align-items: center;
  }
}

.periodProductionTitle {
  font: var(--font-title-ttl_h3);
  color: rgb(var(--color-title));
  text-align: center;

  @media (max-width: 488px) {
    font: var(--font-body-xlarge_bold);
    word-wrap: break-word;
  }
}

.periodProductionTimes {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-24);
}

.periodTime {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-12);
}

.periodTimeLabel {
  font: var(--font-body-xlarge_bold);
  color: rgb(var(--color-white));

  @media (max-width: 488px) {
    font: var(--font-body-large_bold);
  }
}

.periodTimeProgressContainer {
  display: flex;
  align-items: center;
  gap: var(--size-12);
}

.periodTimeProgress {
  appearance: none;
  -webkit-appearance: none;
  width: var(--size-380);
  height: var(--size-40);
  border: none;

  @media (max-width: 488px) {
    width: var(--size-280);
  }
}

.periodTimeProgress::-webkit-progress-bar {
  background-color: rgb(var(--color-primary) / 0.2);
  border-radius: var(--size-12);
  padding: var(--size-8);
}

.periodTimeProgress::-webkit-progress-value {
  background-color: rgb(var(--color-primary));
  border-radius: var(--size-8);
}

.periodTimeProgressNumber {
  font: var(--font-body-large_regular);
  color: rgb(var(--color-white));
}

.productionContainer {
  display: flex;
  align-items: start;
  gap: var(--size-80);

  @media (max-width: 884px) {
    flex-direction: column;
    align-items: center;
  }
}

.productionComparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-32);
}

.productionComparisonTitle {
  font: var(--font-title-ttl_h3);
  color: rgb(var(--color-title));
  text-align: center;

  @media (max-width: 488px) {
    font: var(--font-body-xlarge_bold);
  }
}

.productionComparisonContainer {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.productionDayCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
  color: rgb(var(--color-white));
}

.productionDay {
  font: var(--font-body-medium_bold);

  @media (max-width: 488px) {
    font: var(--font-body-small_bold);
  }
}

.productionNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-normal);
  width: var(--size-80);
  aspect-ratio: 1;
  border-radius: var(--radius-12);
  font: var(--font-title-ttl_h2);

  @media (max-width: 488px) {
    width: var(--size-68);
    font: var(--font-title-ttl_h3);
  }
}

.productionIncrementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productionIncrement {
  font: var(--font-body-xlarge_regular);
  color: rgb(var(--color-green));

  @media (max-width: 488px) {
    font: var(--font-body-large_regular);
  }
}

.productionIcon {
  font-size: var(--size-68);
  color: rgb(var(--color-primary));

  @media (max-width: 488px) {
    font-size: var(--size-52);
  }
}

.productivityDays {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-20);
}

.productivityDaysTitle {
  font: var(--font-title-ttl_h3);
  color: rgb(var(--color-title));

  @media (max-width: 488px) {
    font: var(--font-body-xlarge_bold);
  }
}

.productivityDaysContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-12);
}

.productivityDaysMetrics {
  display: flex;
  align-items: center;
  gap: var(--size-40);

  @media (max-width: 488px) {
    flex-direction: column;
  }
}

.productivityDayStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-8);
}

.productivityLabel {
  font: var(--font-body-xlarge_bold);
  color: rgb(var(--color-white));

  @media (max-width: 488px) {
    font: var(--font-body-medium_bold);
  }
}

.productivityDayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-8);
  width: var(--size-240);
  padding: var(--size-12) 0;
  border: var(--border-normal);
  border-radius: var(--radius-20);
}

.productivityDayWeekDay {
  font: var(--font-title-ttl_h2);

  @media (max-width: 488px) {
    font: var(--font-title-ttl_h3);
  }
}

.positiveDay {
  color: rgb(var(--color-green));
}

.negativeDay {
  color: rgb(var(--color-red));
}

.productivityDayMean {
  font: var(--font-body-large_regular);
  color: rgb(var(--color-white) / 0.5);

  @media (max-width: 488px) {
    font: var(--font-body-medium_regular);
  }
}

.productivityTipContainer {
  display: flex;
  align-items: center;
  gap: var(--size-12);
}

.productivityTipIcon {
  font-size: var(--size-24);
  color: rgb(var(--color-yellow));

  font-size: var(--size-16);
}

.productivityTipLabel {
  font: var(--font-body-large_regular);
  color: rgb(var(--color-white));

  @media (max-width: 488px) {
    font: var(--font-body-medium_regular);
  }
}
