.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: var(--size-80);
  gap: var(--size-80);
  padding: var(--size-24) 0;
  background-color: var(--color-black);
  border-bottom: var(--border-opacity);
}

.logo {
  cursor: pointer;
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--size-20);

  @media (max-width: 884px) {
    gap: var(--size-12);
  }
}

.page {
  display: flex;
  align-items: center;
  gap: var(--size-4);
  color: rgb(var(--color-white));
  transition: color var(--transition-def), filter var(--transition-def);

  @media (max-width: 884px) {
    background-color: rgb(var(--color-primary) / 0.2);
    border-radius: var(--radius-circular);
    padding: var(--size-8);
  }
}

.page:hover,
.page.active {
  color: rgb(var(--color-title));
  filter: drop-shadow(var(--shadow-text));

  @media (max-width: 884px) {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-primary));
  }
}

.pageName {
  font: var(--font-body-medium_bold);

  @media (max-width: 884px) {
    display: none;
  }
}

.functionsContainer {
  display: flex;
  align-items: center;
  gap: var(--size-12);
}

.colorContainer {
  position: relative;
}

.function {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-8);
  background-color: rgb(var(--color-primary) / 0.5);
  border-radius: var(--radius-circular);
  color: rgb(var(--color-white));
  transition: background-color var(--transition-def),
    box-shadow var(--transition-def);
}

.function:hover {
  background-color: rgb(var(--color-primary));
  box-shadow: var(--shadow-btn);
}
