.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-12);
  margin-top: var(--size-96);
  padding: var(--size-24) 0;
  border-top: var(--border-opacity);
}

.navigation,
.socialContainer {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.navigation {
  @media (max-width: 488px) {
    flex-direction: column;
  }
}

.page {
  font: var(--font-body-medium_bold);
  color: rgb(var(--color-white));
  transition: color var(--transition-def), filter var(--transition-def);
}

.page:hover,
.page.active {
  color: rgb(var(--color-title));
  filter: drop-shadow(var(--shadow-text));
}

.social {
  display: flex;
  background-color: rgb(var(--color-primary) / 0.2);
  padding: var(--size-8);
  border-radius: var(--radius-circular);
  color: rgb(var(--color-white));
  transition: background-color var(--transition-def),
    box-shadow var(--transition-def);
}

.social:hover {
  background-color: rgb(var(--color-primary));
  box-shadow: var(--shadow-btn);
}

.copyright {
  font: var(--font-body-xsmall_regular);
  color: rgb(var(--color-white));
}
