.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-12);
  padding: var(--size-24) 0;
  border-top: var(--border-opacity);
}

.navigation,
.socialContainer {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.page {
  font: var(--font-body-medium_bold);
  color: rgb(var(--color-white));
  transition: color var(--transition-def), box-shadow var(--transition-def);
}

.social {
  display: flex;
  background-color: rgb(var(--color-primary) / 0.2);
  padding: var(--size-8);
  border-radius: var(--radius-circular);
  color: rgb(var(--color-white));
  transition: color var(--transition-def), box-shadow var(--transition-def);
}

.copyright {
  font: var(--font-body-xsmall_regular);
  color: rgb(var(--color-white));
}
