.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-black) / 0.8);
  transition: background-color var(--transition-def);
  z-index: calc(var(--zindex-modal) - 1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-40);
  width: min(38.75rem, 43vw);
  background-color: rgb(var(--color-black));
  border: var(--border-normal);
  border-radius: var(--radius-20);
  padding: var(--size-40);
  z-index: var(--zindex-modal);

  @media (max-width: 884px) {
    width: min(38.75rem, 81vw);
  }

  @media (max-width: 488px) {
    width: min(var(--size-280), 78vw);
    padding: var(--size-20);
  }
}

.closeIcon {
  cursor: pointer;
  position: absolute;
  top: var(--size-20);
  right: var(--size-20);
  font-size: var(--size-32);
  color: rgb(var(--color-red));

  @media (max-width: 488px) {
    top: var(--size-8);
    right: var(--size-8);
    font-size: var(--size-24);
  }
}

.title {
  font: var(--font-title-ttl_h2);
  color: rgb(var(--color-title));

  @media (max-width: 488px) {
    font: var(--font-body-xlarge_bold);
  }
}

.modalContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-40);
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-8);
}

.label {
  font: var(--font-body-xlarge_bold);
  color: rgb(var(--color-white));

  @media (max-width: 488px) {
    font: var(--font-body-large_bold);
  }
}

.input,
.pomodoroInput {
  background-color: rgb(var(--color-white));
  font: var(--font-body-medium_regular);
  color: rgb(var(--color-black));
  padding: var(--size-20);
  border-radius: var(--radius-20);
  transition: outline var(--transition-def);

  @media (max-width: 488px) {
    padding: var(--size-12) var(--size-20);
  }
}

.input::placeholder,
.pomodoroInput::placeholder {
  color: rgb(var(--color-black) / 0.5);
}

.input:focus,
.pomodoroInput:focus {
  outline: var(--border-normal);
}

.input {
  width: min(33.75rem, 100%);
}

.otherFieldContainer {
  display: flex;
  align-items: start;
  gap: var(--size-40);

  @media (max-width: 488px) {
    flex-direction: column;
    align-items: center;
  }
}

.priorityContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-12);

  @media (max-width: 488px) {
    flex-direction: column;
    align-items: center;
  }
}

.otherTitle {
  font: var(--font-body-large_bold);
  color: rgb(var(--color-white));

  @media (max-width: 488px) {
    font: var(--font-body-medium_bold);
  }
}

.priorityOptions {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.priority {
  width: var(--size-52);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
}

.priorityIndicator {
  cursor: pointer;
  width: var(--size-20);
  aspect-ratio: 1;
  border-radius: var(--radius-circular);
  transition: outline var(--transition-def), box-shadow var(--transition-def);
}

.priorityIndicator:hover,
.priorityIndicator.active {
  outline: var(--border-thin);
  box-shadow: var(--shadow-btn);
}

.low {
  background-color: rgb(var(--color-green));
}

.medium {
  background-color: rgb(var(--color-yellow));
}

.high {
  background-color: rgb(var(--color-red));
}

.priorityLabel {
  font: var(--font-body-small_regular);
  color: rgb(var(--color-white));
}

.pomodorosContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-12);

  @media (max-width: 488px) {
    align-items: center;
  }
}

.pomodoroInput {
  width: var(--size-96);

  @media (max-width: 488px) {
    width: var(--size-52);
  }
}

.pomodoroInput::-webkit-inner-spin-button,
.pomodoroInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pomodoroInput[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
